@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*Layout*/

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-width: 300px;
    height: 100vh;
}


body{
    font-size: 1rem;
    font-family: 'Libre Franklin', sans-serif;
}

header{
    margin-top: 3em;
    text-align: center;
    width: 100%;
}

header img{
    max-width: 60px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: 2em auto;
    text-align: center;
}


input{
    border: solid 2px hsl(223, 100%, 88%);
    border-radius: 2rem;
    padding: .9em;
}

.submit-button{
    background-color: hsl(223, 87%, 63%);
    color: white;
    border: none;
}

.submit-button:hover{
    border: 1px solid black;
    color: black;
    background-color: white;
}


#email{
    margin-bottom: 1em;
}

main{
    width: 100%;
    max-width: 650px;
    padding: 0 2em;
    margin-top: 2.5em;
}

main img{
    max-width: 100%;
    margin: auto;
}

footer{
    text-align: center;
    margin-top: 2em;
}

i{
    color: hsl(223, 87%, 63%);
    margin: 1em;
}

.icons{
    display: flex;
    justify-content: center;
}

i:hover{
    background-color: hsl(223, 87%, 63%);
    border-radius: 5rem;
    color: white;
}


/*Typeography*/

h2{
    margin-top: 1em;
    font-weight: 300;
    color: hsl(0, 0%, 59%);
}

p{
    margin-top: 1em;
    font-size: .9rem;
    font-weight: 600;
}

#error{
    color: red;
    font-weight: 600;
    font-size: .8rem;
    margin-bottom: .5em;
}

footer p {
    font-size: .7rem;
    color: hsl(0, 0%, 59%);
}


/*Desktop*/

@media (min-width: 600px){
     .container{
        margin: 0;
        min-width: 950px;
        height: 100vh;
     }


    form{
        position: relative;
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    
    main img{
        max-width: 100%;
    }


    #submit{
        margin-left: 1em;
        width: 12%;
    }
    
    #email{
        margin: 0;
        width: 25%;
    }

    #error{
        position: absolute;
        padding-top: 1.2em;
        padding-right: 4em;
        opacity: 50%;
    }

    header img{
    max-width: 20%;
    }

    h2{
        font-size: 2.5rem;
    }

}
