@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body{
    font-size: 1rem;
    font-family: 'Libre Franklin', sans-serif;
}

.contianer{
    max-width: 100%;
    min-width: 290px;
}

header{
    text-align: center;
    padding-top: 2em;
}

header img{
    max-width: 15%;
    margin-bottom: 2em;
}

h2{
    font-weight: 3;
}

p{
    margin-top: 1em;
    font-weight: 600;
    font-size: .9rem;
}

form{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 2em auto;
}

input{
    margin-bottom: 1em;
    border-radius: 2rem;
    padding: 1em;
    border: solid 2px hsl(223, 100%, 88%);
}

main{
    display: flex;
    justify-content: center;
    padding-bottom: 1em;
    width: 100vw;
}

img{
    max-width: 90%;
}

.submit-button{
    background-color: hsl(223, 87%, 63%);
    color: white;
    border: none;
}

.submit-button:hover{
    border: 1px solid black;
    color: black;
    background-color: white;
}

i{
    color: hsl(223, 87%, 63%);
    padding: 1em;
}

.icons{
    display: flex;
    justify-content: center;
    width: 25%;
    margin: auto;
    margin-top: 5em;
}

i:hover{
    background-color: hsl(223, 87%, 63%);
    border-radius: 5rem;
    color: white;
}


footer p{
text-align: center;
font-size: .7rem;
}

#error{
    color: red;
}

@media (min-width: 620px){

    form{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 80%;
        margin: auto;
    }


    img{
        max-width: 40%;
    }


    .email-input{
        padding-right: 14em;
        margin-right: 1em;
    }

    .submit-button{
        padding: 0 5em;
    }

    h2{
        font-size: 2rem;
        color: hsl(0, 0%, 59%);
    }

    strong{
        color: black;
    }

    header p{
        font-weight: 300;
        font-size: 1rem;
        margin-bottom: 2em;
    }

    main img{
        max-width: 40%;
    }


}